<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>User's purchased history</title>
</head>
<body>
<h1> Purchased History </h1>
<table border="1" cellpadding="10">
    <tr>
        <th>Brand</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Weight</th>
        <th>Price</th>
    </tr>
    <tr th:each="disc:${listOfDisc}">
        <td th:text="${disc.brand}">Brand</td>
        <td th:text="${disc.name}">Name</td>
        <td th:text="${disc.quantity}">Quantity</td>
        <td th:text="${disc.weight}">Weight</td>
        <td th:text="${disc.price}">Price</td>
    </tr>

</table>
<br>
<form>
    <input type="button" value="Go back" onclick="history.back()">
</form>

</body>
</html>